body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1px;
    text-align: center;
    line-height: .8;
}

.disc {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0px;
    width: 100%;
}
/* ---nav bar--- */

.navbar {

top: 0;
background-color: #13544e;
width: 100%;
opacity: .8;

}

.navbar ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
text-align: center;

}

.navbar li {
float: left;
}

.navbar li a {
display: block;
color: rgb(255, 255, 255);
text-align: center;
padding: 14px 8px;
text-decoration: none;
font-size: large;
font-weight: bolder;
border-radius: 20px;
margin-right: 30px;
text-align: center;



}

.navbar a:hover {
color: #07be16;
}
.logo {
width: 160px;
cursor: pointer;
float: right;
margin-top: -80px;

}